pandas
numpy
matplotlib
seaborn
spacy
scikit-learn
wordcloud
textstat
lexical_diversity
sentence_transformers
transformers
xgboost
shap
lime
ipywidgets
joblib
streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl